/* --- GLOBAL --- */

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

li,
ul {
  list-style: none;
  padding: 0;
}

/* --- HEADER --- */

header {
}

/* --- NAVIGATION --- */

.site_title {
  display: flex;
  margin: 1.5em auto 1em 1.5em;
  align-items: baseline;
  gap: 2em;
}

.site_title-first {
  font-size: 4rem;
  font-weight: bold;
}

.site_title-second {
  font-size: 1.5rem;
}

.site_navigation {
  padding: 1em 0 1em 0;
  background-color: rgb(230, 230, 230);
  box-shadow: 0px 2px 2px lightgray;
}

.ul_navigation {
  display: flex;
  width: fit-content;
  gap: 2em;
  margin: 0 auto;
  font-size: 1.5rem;
}

.list_navigation a {
  position: relative;
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.list_navigation a::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: rgb(90, 90, 90);
  transition: width 0.2s ease;
}

.list_navigation a:hover::before {
  width: 100%;
}
.list_navigation a:hover {
  color: rgb(120, 120, 120);
}

/* - MOBILE - */
@media only screen and (max-width: 1024px) and (orientation: portrait) {
  .site_title {
    display: flex;
    justify-content: center;
    margin: 0.5em auto;
    gap: 0.5em;
  }

  .site_title-first {
    font-size: 1.5rem;
  }

  .site_title-second {
    font-size: 1rem;
  }

  .site_navigation {
    padding: 0.5em 0;
  }

  .ul_navigation {
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    gap: 0.5em;
    margin: 0 auto;
    font-size: 1rem;
  }
}

/* --- FOOTER --- */

footer {
  background: rgb(100, 100, 100);
  color: white;
  margin-top: 5em;
}

.section_footer {
  display: grid;
  grid-template-columns: repeat(1fr, 3);
}

.title_footer {
  margin-bottom: 0;
}

.list_footer {
  margin: 0 auto;
}

.list-elements_footer {
  display: grid;
  gap: 0.5em;
}

.shortcuts_footer {
  grid-column: 1;
}
.information_footer {
  grid-column: 2;
}

.support_footer {
  grid-column: 3;
}

.some_footer {
  display: flex;
  background: rgb(80, 80, 80);
  height: 4em;
}

.some-container_footer {
  display: flex;
  gap: 1.5em;
  width: fit-content;
  margin: auto;
}

/* - MOBILE - */
@media only screen and (max-width: 1024px) and (orientation: portrait) {
  .section_footer {
    display: block;
    margin-left: 1em;
  }

  .shortcuts_footer {
    padding-top: 0.5em;
  }

  .list-elements_footer li {
    margin-bottom: 0.75em;
    font-size: 1.1rem;
  }
}

/* - Site placement label */
.you-are-here-label {
  display: flex;
  gap: 0.5em;
  padding: 1em;
  align-items: baseline;
  width: fit-content;
}
.you-are-here-label_firstText {
  font-weight: bold;
}

.you-are-here-label div:last-child {
  width: fit-content;
}

.you-are-here_hr {
  margin: 0 1em 0 1em;
  border: 1px solid rgb(200, 200, 200);
}

/* --- product containers --- */

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
}

.product {
  display: flex;
  flex-direction: column;
  width: 18em;
  height: fit-content;
  border: 2px solid black;
  border-radius: 5px;
}

.product:hover {
  transition: 0.1s ease-in-out;
  box-shadow: 1px 1px 3px gray;
}
.product:hover > .productImg {
  transition: 0.1s ease-in-out;
  opacity: 0.8;
}

.productImg {
  height: 12em;
  width: 14em;
  margin: 1em auto 1em auto;
}

.productTitle {
  font-size: 1rem;
  text-align: center;
  margin: 1em auto 0 auto;
}

.priceContainer {
  display: flex;
  margin: 0 auto;
  gap: 1em;
}

.discounted {
  text-decoration: line-through;
}

.productPrice {
  color: rgb(80, 80, 80);
}

.productDiscountPrice {
  text-decoration: underline;
  color: green;
}

.productQuantity {
  padding: 1em;
}

.heading_pages {
  text-align: center;
}

/* - MOBILE - */
@media only screen and (max-width: 1024px) and (orientation: portrait) {
  .container {
    display: block;
  }

  .product {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: auto;
    margin: 0 1em 1em 1em;
  }

  .productTitle {
    font-size: 0.75rem;
    width: 20%;
    margin: 0;
  }

  .productImg {
    height: 6em;
    width: 7em;
    margin: 0.5em;
  }

  .priceContainer {
    display: block;
    text-align: center;
    margin: auto;
    font-size: 0.75rem;
  }

  .productQuantity {
    font-size: 0.75rem;
  }
}

/* --- INDEX --- */

.brandsTitle_index {
  margin-top: 4em;
  text-align: center;
}

.brandsContainer_index {
  display: flex;
  gap: 2em;
  width: fit-content;
  margin: 0 auto;
}

.imgBrand_index {
  width: 16em;
  height: 8em;
  border-radius: 5px;
}

.img_bose {
  background: url(/IMAGES/images_index/bose.jpg) no-repeat;
  background-size: cover;
}
.img_sony {
  background: url(/IMAGES/images_index/sony.png) no-repeat;
  background-size: cover;
}
.img_bando {
  background: url(/IMAGES/images_index/bando.jpg) no-repeat;
  background-size: cover;
}

.shippingContainer_index {
  background-color: rgb(180, 180, 180);
  margin: 5em auto;
  text-align: center;
}

.shippingContainer_index h2 {
  font-size: 2rem;
  padding-top: 0.5em;
}

.shippingContainer_index p {
  font-size: 1.5rem;
}

.shippingContainer_index i {
  font-size: 5em;
  margin: 0.75em 0;
  display: block;
}

.shippingContainer_index button {
  margin: 0 auto 1em auto;
  height: 3em;
  width: 9em;
  border: none;
  border-radius: none;
  font-weight: bold;
  color: black;
}

/* - MOBILE - */
@media only screen and (max-width: 1024px) and (orientation: portrait) {
  .heading-para_index {
    margin: 0 0.5em;
  }

  .brandsTitle_index {
    margin-top: 2em;
    font-size: 1rem;
  }

  .brandsContainer_index {
    gap: 1em;
  }

  .imgBrand_index {
    width: 6em;
    height: 3em;
  }

  .shippingContainer_index {
    margin: 2em auto;
  }

  .shippingContainer_index h2 {
    font-size: 1.5rem;
  }

  .shippingContainer_index p {
    font-size: 1.25rem;
  }

  .shippingContainer_index i {
    font-size: 4em;
  }

  .shippingContainer_index button {
    height: 4em;
    width: 12em;
  }
}

/* --- PRODUCT --- */

.container_product {
  max-width: 100%;
  margin: 0 10em;
}

.productTitle_product {
  font-size: 2rem;
  text-align: center;
}

.productSubTitle_product {
  font-size: 1.5rem;
  text-align: center;
}

.productImg_product {
  height: 24em;
  width: 28em;
  background-color: white;
  margin: 0 auto;
  display: block;
}

.priceContainer_product {
  display: flex;
  margin: 0 auto;
  gap: 1em;
  justify-content: center;
  font-size: 1.5rem;
}

.discounted_product {
  text-decoration: line-through;
}

.productPrice_product {
  color: rgb(80, 80, 80);
}

.productDiscountPrice_product {
  text-decoration: underline;
  color: green;
}

.addToCartBtnProduct_product {
  width: 9em;
  height: 3em;
  margin: 0 auto;
  border: none;
  border-radius: none;
  font-weight: bold;
  display: block;
  color: green;
}

.description_product {
  margin: 2em;
}

/* - MOBILE - */
@media only screen and (max-width: 1024px) and (orientation: portrait) {
  .container_product {
    margin: 0 1em;
  }

  .productSubTitle_product {
    font-size: 1.25rem;
  }

  .productImg_product {
    height: 12em;
    width: 14em;
  }

  .priceContainer_product {
    gap: 0.5em;
    font-size: 1.25rem;
  }

  .addToCartBtnProduct_product {
    width: 12em;
    height: 4em;
  }

  .description_product {
    margin: 1em;
  }
}

/* --- CART --- */

.container_cart {
  background: rgb(140, 140, 140);
  height: fit-content;
  padding: 1em;
  margin: 0 5em;
  border-radius: 5px;
}

.product_cart {
  display: flex;
  align-items: center;
  background: white;
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 1em;
  border: none;
}

.productTitle_cart {
  font-size: 2rem;
  text-align: center;
}

.productImg_cart {
  height: 6em;
  width: 8em;
  padding: 1em;
  background-color: white;
  border-radius: 5px;
}

.priceContainer_cart {
  display: flex;
  margin: 0 auto;
  gap: 1em;
  justify-content: center;
  font-size: 1.5rem;
}

.discounted_cart {
  text-decoration: line-through;
}

.productPrice_cart {
  color: rgb(80, 80, 80);
}

.productDiscountPrice_cart {
  text-decoration: underline;
  color: green;
}

.removeFromCartBtn_cart {
  width: 9em;
  height: 3em;
  margin: 0 5% 0 auto;
  border: none;
  border-radius: none;
  font-weight: bold;
  display: block;
  color: red;
}

/* - Checkout Container - */
.summaryCheckoutContainer_cart {
  display: block;
  height: fit-content;
  align-items: center;
  background: white;
  border: none;
  border-radius: 5px;
  padding: 1em;
}

.summaryCheckoutContainer_cart h2 {
  margin: 0 0 1em 0;
}

.subtotal_cart,
.total_cart {
  display: flex;
  width: 10em;
  margin-bottom: 1em;
}

.subtotal_cart div:last-child,
.total_cart div:last-child {
  margin-left: auto;
}

.checkoutBtn_cart {
  width: 100%;
  height: 3em;
  border: none;
  border-radius: none;
  font-weight: bold;
  display: block;
  color: white;
  background-color: rgb(0, 205, 0);
}

.checkoutBtn_cart:hover {
  background-color: rgb(0, 180, 0);
}

/* - MOBILE - */
@media only screen and (max-width: 1024px) and (orientation: portrait) {
  .container_cart {
    margin: 0;
    border-radius: 0;
    padding: 0.5em;
  }

  .product_cart {
    display: flex;
    align-items: center;
  }

  .productImg_cart {
    padding: 0.5em;
  }
  .productTitle_cart {
    font-size: 1rem;
  }

  .priceContainer_cart {
    display: block;
    text-align: center;
    gap: 1em;
    font-size: 1rem;
  }

  .removeFromCartBtn_cart {
    width: fit-content;
    height: 5em;
    margin: 0 2.5% 0 auto;
  }
}
